header.header
   .container.header__container
      a.logo.header__logo(href="#")
         img(src="", alt="Logo")
      nav.menu.header__menu
         ul.menu__list
            li.menu__item
               a.menu__link(href="#")
      .header__buttons
         a.header__btn(href="#")
      button.header__burger
         span