<div class="benefits swiper">
  <div class="container benefits__container swiper-wrapper">
    <div class="benefits__card swiper-slide">
      <div class="benefits__img">
        <img src="@img/benefits/i-1.svg" alt="">
      </div>
      <div class="benefits__desc">Информация собрана <br>
        и структурирована
        в одном месте</div>
    </div>
    <div class="benefits__card swiper-slide">
      <div class="benefits__img">
        <img src="@img/benefits/i-2.svg" alt="">
      </div>
      <div class="benefits__desc">Видео-лекции <br> с дополнительными текстовыми материалами</div>
    </div>
    <div class="benefits__card swiper-slide">
      <div class="benefits__img">
        <img src="@img/benefits/i-3.svg" alt="">
      </div>
      <div class="benefits__desc">Проверенная информация от дипломированных, опытных специалистов</div>
    </div>
    <div class="benefits__card swiper-slide">
      <div class="benefits__img">
        <img src="@img/benefits/i-4.svg" alt="">
      </div>
      <div class="benefits__desc">Возможность обращения
        <br>к специалистам за личной консультацией</div>
    </div>
  </div>
  <div class="benefits__pagination swiper-pagination"></div>
</div>