<section class="contact">
  <div class="contact__container">
    <div class="contact__block">
      <h2 class="title contact__title">Всегда ответим на ваши вопросы</h2>
      <div class="contact__desc">Нам всегда можно написать или позвонить</div>
      <div class="contact__col">
        <div class="contact__link">
          <img src="@img/phone.svg" alt="" class="contact__icon" />
          <span class="contact__span">+7 915</span>
          <span> 178-77-26</span>
        </div>
        <a href="mailto:info@happyfam.ru" class="contact__link">
          <img src="@img/mail.svg" alt="" class="contact__icon" />
          <span>info@happyfam.ru</span>
        </a>
      </div>
    </div>
  </div>
</section>
